

{% extends 'routine_admin/dashboard.html' %}
{% load crispy_forms_tags %}


{% block content %}











          <!-- Page Heading -->
          <h1 class="h3 mb-2 text-gray-800 text-center">All Department Name</h1>

          <p class="text-center">
            <a href="" class="btn btn-primary text-center mt-2 mb-2">Add new department</a>
          </p>

          <p class="text-center">
            {% include 'partial/_alerts.html' %}
          </p>
         

          <!-- DataTales Example -->
         <div class="card text-center">

          <div class="card-header">
            <h4>Add new Department</h4>
          </div>
          <div class="card-body">

              <div class="row">
                <div class="col-md-6 offset-md-3">

                    <form method="POST" action="{% url 'admin_page:admin-dept-create' %}">
                      {% csrf_token %}
                        <div class="input-group mb-3">
                          <div class="input-group-prepend">
                            <div class="input-group-text">
                              <span>Title:</span>
                            </div>
                          </div>
                          <input name="title" type="text" class="form-control" placeholder="Department Title" value="{{instance.title}}">
                        </div>
          
          
          
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                              <div class="input-group-text">
                              <span>Name:</span>
                              </div>
                            </div>
                            <input name="name" type="text" class="form-control" placeholder="Department FUll Name" value="{{instance.name}}">
                          </div>
          
          
                          <input type="submit" class="btn btn-success" value="{{value}}">
                      </form>
          
                </div>
              </div>
          

          </div>
         </div>

        </div>
        <!-- /.container-fluid -->












        <a class="scroll-to-top rounded" href="#page-top">
            <i class="fas fa-angle-up"></i>
          </a>
        


{% endblock %}








